{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p>

        {{posts}}
    {% for post in posts %}
        {% if post.status == 1 %}
            <h1>{{post.title}}</h1>
            <p>{{post.content}}</p>
            <small>{{post.published_date}}</small>
        {% endif %}
    {% endfor %}
    </p> -->
    
    {% totalposts as tp %}
    total posts we have :
    {{ tp }}
    <br>
    {% for post in posts %}
        <p>
        <!-- {{ post.content|snippet }}... -->
        {{post.content|snippet:10}}
        </p>
    {% endfor %}

    <h1>-----------</h1>

    <p>
        popular posts are : {% popularposts %}
    </p>
    <h1>------------------------------------------------------</h1>
    <form action="{%  url 'blog:testblog'  %}" method="post"><br>
        {% csrf_token %}
        <label>name:</label>
        <input type="text" name="name"><br>
        <label>email:</label>
        <input type="email" name="email"><br>
        <label>subject:</label>
        <input type="text" name="subject"><br>
        <label>message:</label>
        <input type="text" name="message"><br>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>